################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ScalarAPI/.vs
/ScalarAPI/ScalarAPI/bin/Debug/net9.0
/ScalarAPI/ScalarAPI/obj
